.busbar-section {
    stroke-width: 3;
}

.breaker {
    stroke-width: 2;
}

.disconnector {
    stroke-width: 3
}

.vsc-converter-station {
    font-size: 7.4314661px;
    line-height: 1.25;
    font-family: sans-serif;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-feature-settings: normal;
    text-align: start;
    letter-spacing: 0px;
    word-spacing: 0px;
    writing-mode: lr-tb;
    text-anchor: start;
    stroke-miterlimit: 4;
}

.phase-shift-transformer {
    stroke-linecap: butt;
    stroke-linejoin: miter;
    stroke-miterlimit: 4;
}

.grid {
    stroke: rgb(0,55,0);
    stroke-dasharray: 1,10;
}

.arrow-p {
    fill:black
}

.arrow-q {
    fill:blue
}

.component-label {
    font: 8px "Verdana";
}

.arrow-p .component-label {
    dominant-baseline: middle
}

.arrow-q .component-label {
    dominant-baseline: middle
}
