/* ----------------------------------------------------------------------- */
/* File : components.css ------------------------------------------------- */
/* Stroke black */
.sld-disconnector {stroke-width: 3; stroke: black; fill: none}
/* Stroke blue */
.sld-breaker {stroke-width: 2; stroke: blue; fill:white}
/* Stroke --sld-vl-color with fallback black */
.sld-bus-connection {stroke: var(--sld-vl-color, black); stroke-width: 4; fill: none}
.sld-busbar-section {stroke: var(--sld-vl-color, black); stroke-width: 3; fill: none}
/* Stroke --sld-vl-color with fallback red */
.sld-wire {stroke: var(--sld-vl-color, #c80000); fill: none}
/* Stroke --sld-vl-color with fallback blue */
.sld-load-break-switch {stroke: var(--sld-vl-color, blue); fill: none}
.sld-load {stroke: var(--sld-vl-color, blue); fill: none}
.sld-generator {stroke: var(--sld-vl-color, blue); fill: none}
.sld-two-wt {stroke: var(--sld-vl-color, blue); fill: none}
.sld-three-wt {stroke: var(--sld-vl-color, blue); fill: none}
.sld-winding {stroke: var(--sld-vl-color, blue); fill: none}
.sld-capacitor {stroke: var(--sld-vl-color, blue); fill: none}
.sld-inductor {stroke: var(--sld-vl-color, blue); fill: none}
.sld-pst {stroke: var(--sld-vl-color, blue); fill: none}
.sld-pst-arrow {stroke: black; fill: none}
.sld-svc {stroke: var(--sld-vl-color, blue); fill: none}
.sld-vsc {stroke: var(--sld-vl-color, blue); font-size: 7.43px; fill: none}
/* Stroke none & fill: --sld-vl-color */
.sld-node-infos {stroke: none; fill: var(--sld-vl-color, black)}
/* Stroke none & fill: black */
.sld-label {stroke: none; fill: black; font: 8px "Verdana"}
.sld-graph-label {stroke: none; fill: black; font: 12px "Verdana"}
.sld-node {stroke: none; fill: black}
.sld-flash {stroke: none; fill: black}
.sld-lock {stroke: none; fill: black}
/* Specific */
.sld-grid {stroke: #003700; stroke-dasharray: 1,10}
.sld-arrow-p {fill:black}
.sld-arrow-q {fill:blue}
.sld-frame {fill: var(--sld-background-color, transparent)}
/* Stroke maroon for fictitious switch */
.sld-sw-fictitious {stroke: maroon}
