.sld-busbar-section {stroke-width: 3}
.sld-breaker {stroke-width: 2; fill:white}
.sld-disconnector {stroke-width: 3}
.sld-vsc {font-size: 7.43px}
.sld-grid {stroke: #003700; stroke-dasharray: 1,10}
.sld-arrow-p {fill:black}
.sld-arrow-q {fill:blue}
.sld-label {font: 8px "Verdana"}
.sld-graph-label {font: 12px "Verdana"}
