.nad-branch-edges .nad-edge-path {stroke: darkgreen; stroke-width: 5; fill: none}
.nad-text-edges {stroke: black; stroke-width: 3; stroke-dasharray: 6,7; fill: none}
.nad-vl-nodes .nad-busnode {fill: var(--nad-vl-color, lightblue)}
.nad-active {fill: #546e7a}
.nad-reactive {fill: #0277bd}
.nad-current {fill: #bd4802}
.nad-text-nodes {font: 20px serif; fill: black; dominant-baseline: central}
foreignObject.nad-text-nodes {overflow: visible; color: black}
.nad-label-box {background-color: #6c6c6c20; width: max-content; padding: 10px; border-radius: 10px;}
.nad-edge-infos text, .nad-edge-label text {font: 25px serif; dominant-baseline:middle; stroke: #FFFFFFAA; stroke-width: 10; stroke-linejoin:round; paint-order: stroke}
