.nad-label-box {
    display: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.nad-text-edges {display: none;}
.nad-edge-infos {display: none;}
.nad-vl0to30 {display: none;}
.nad-vl30to50 {display: none;}
.nad-vl50to70 {display: none;}
.nad-vl70to120 {display: none;}
.nad-vl120to180 {display: none;}
.nad-vl180to300 {display: none;}
