# Maven projects
single-line-diagram-cgmes/target
single-line-diagram-cgmes/substation-diagram-cgmes-dl-conversion/target
single-line-diagram-cgmes/substation-diagram-cgmes-dl-iidm-extensions/target
single-line-diagram-cgmes/substation-diagram-cgmes-layout/target
single-line-diagram-core/target
single-line-diagram-util/target
single-line-diagram-view/target
single-line-diagram-view-app/target
substation-webviewer/target
target

# IntelliJ
/.idea
*.iml

# Compilation settings
install.cfg

# Eclipse projects
.classpath
.project
org.eclipse.core.resources.prefs
org.eclipse.jdt.core.prefs
org.eclipse.m2e.core.prefs
org.eclipse.jdt.groovy.core.prefs
