# Maven projects
target/

# IntelliJ
/.idea
*.iml

# Eclipse projects
.classpath
.project
.factorypath
org.eclipse.core.resources.prefs
org.eclipse.m2e.core.prefs
org.eclipse.jdt.core.prefs
org.eclipse.jdt.apt.core.prefs
org.eclipse.jdt.groovy.core.prefs

# Virtual Studio
.vscode