language: java

dist: trusty
sudo: required

jdk:
- oraclejdk8

addons:
    sonarcloud:
        organization: "powsybl-ci-github"
        token: ${SONAR_TOKEN}

script:
- mvn --batch-mode -Pjacoco,checks clean verify sonar:sonar
