.nad-load {stroke: var(--nad-vl-color, lightgrey); stroke-width: 3; fill: none}
.nad-battery {stroke: var(--nad-vl-color, lightgrey); stroke-width: 3; fill: none}
.nad-generator {stroke: var(--nad-vl-color, lightgrey); stroke-width: 3; stroke-linecap: round; fill: none}
.nad-generator-type {stroke: var(--nad-vl-color, lightgrey); stroke-width: 1; stroke-linecap: round; fill: white}
.nad-capacitor {stroke: var(--nad-vl-color, lightgrey); stroke-width: 3; fill: none}
.nad-inductor {stroke: var(--nad-vl-color, lightgrey); stroke-width: 3; stroke-linejoin: round; stroke-linecap: round; fill: none}
.nad-svc {stroke: var(--nad-vl-color, lightgrey); stroke-width: 3; stroke-linejoin:round; fill: none}
.nad-disconnected .nad-load {stroke: lightgrey}
.nad-disconnected .nad-battery {stroke: lightgrey}
.nad-disconnected .nad-generator {stroke: lightgrey}
.nad-disconnected .nad-capacitor {stroke: lightgrey}
.nad-disconnected .nad-inductor {stroke: lightgrey}
.nad-disconnected .nad-svc {stroke: lightgrey}
.nad-unknown {stroke: none; fill: black}
