.sld-constant-color {fill: none}
.sld-node.sld-constant-color {stroke: none; fill: black}
.sld-breaker.sld-constant-color {stroke: blue; fill: white}
.sld-disconnector.sld-constant-color {stroke: black}
.sld-label {fill: black; stroke: none;}
.sld-frame {fill: lightgrey}
