/* ----------------------------------------------------------------------- */
/* File: defaultConstantColors.css --------------------------------------- */
.sld-frame {fill: lightgrey}
/* Stroke none & fill: black */
.sld-label {stroke: none; fill: black}
.sld-node {stroke: none; fill: black}
.sld-flash {stroke: none; fill: black}
.sld-lock {stroke: none; fill: black}
.sld-graph-label {stroke: none; fill: black}
/* Stroke black */
.sld-disconnector {stroke: black}
.sld-busbar-section {stroke: black}
.sld-bus-connection {stroke: black}
/* Stroke red & fill: none */
.sld-wire {stroke: #c80000}
/* Stroke blue */
.sld-load-break-switch {stroke: blue}
.sld-load {stroke: blue}
.sld-generator {stroke: blue}
.sld-two-wt {stroke: blue}
.sld-three-wt {stroke: blue}
.sld-winding {stroke: blue}
.sld-capacitor {stroke: blue}
.sld-inductor {stroke: blue}
.sld-pst {stroke: blue}
.sld-svc {stroke: blue}
.sld-vsc {stroke: blue}
