.constant-color {
    stroke: blue;
    fill: none
}

.wire.constant-color {
    stroke: red
}

.busbar-section.constant-color {
    stroke: black;
}

.disconnector.constant-color {
    stroke: black
}

.component-label {
    fill: black;
    stroke: none;
}
