.sld-constant-color {stroke: blue; fill: none}
.sld-wire.sld-constant-color {stroke: #c80000}
.sld-node.sld-constant-color {stroke: none; fill: black}
.sld-bus-connection.sld-constant-color {stroke: black}
.sld-busbar-section.sld-constant-color {stroke: black}
.sld-disconnector.sld-constant-color {stroke: black}
.sld-label {stroke: none; fill: black}
