.constant-color {
    stroke: blue;
    fill: none
}

.wire.constant-color {
    stroke: red
}

.line.constant-color {
    stroke: blue
}

.node.constant-color {
    stroke: none;
    fill: black
}

.busbreaker-connection.constant-color {
    stroke: none;
    fill: black
}

.busbar-section.constant-color {
    stroke: black;
}

.disconnector.constant-color {
    stroke: black
}

.component-label {
    fill: black;
    stroke: none;
}
