.up .arrow-down {
    visibility: hidden
}

.down .arrow-up {
    visibility: hidden
}

.closed .switch-open {
    visibility: hidden
}

.open .switch-closed {
    visibility: hidden
}

.hidden-internal-node {
    visibility: hidden
}

polyline {
    fill: none
}

.top-feeder .component-label {
    dominant-baseline: auto;
}

.bottom-feeder .component-label {
    dominant-baseline: hanging
}

.arrow-label {
    dominant-baseline: middle
}