.sld-up .sld-arrow-down {visibility: hidden}
.sld-down .sld-arrow-up {visibility: hidden}
.sld-closed .sld-sw-open {visibility: hidden}
.sld-open .sld-sw-closed {visibility: hidden}
.sld-hidden-node {visibility: hidden}
polyline {fill: none}
.sld-snakeline {fill: none; pointer-events: none}
.sld-top-feeder .sld-label {dominant-baseline: auto}
.sld-bottom-feeder .sld-label {dominant-baseline: hanging}
.sld-arrow-p .sld-label {dominant-baseline: middle}
.sld-arrow-q .sld-label {dominant-baseline: middle}
