.vl0-0 {
    stroke: #808080
}
.vl0-1 {
    stroke: #404040
}
.vl0-2 {
    stroke: #D8D8D8
}
.vl0-3 {
    stroke: #4C4C4C
}
.vl0-4 {
    stroke: #C2C2C2
}
.vl0-5 {
    stroke: #595959
}
.vl0-6 {
    stroke: #ACACAC
}
.vl0-7 {
    stroke: #666666
}
.vl0-8 {
    stroke: #969696
}
.vl0-9 {
    stroke: #737373
}
.vl400-0 {
    stroke: #FF0000
}
.vl400-1 {
    stroke: #7F6C00
}
.vl400-2 {
    stroke: #F6B2FF
}
.vl400-3 {
    stroke: #996700
}
.vl400-4 {
    stroke: #FF85EB
}
.vl400-5 {
    stroke: #B25B00
}
.vl400-6 {
    stroke: #FF59B5
}
.vl400-7 {
    stroke: #CC4400
}
.vl400-8 {
    stroke: #FF2C67
}
.vl400-9 {
    stroke: #E52600
}
.vl225-0 {
    stroke: #218B21
}
.vl225-1 {
    stroke: #0D4940
}
.vl225-2 {
    stroke: #DFDAB9
}
.vl225-3 {
    stroke: #105640
}
.vl225-4 {
    stroke: #C2CB92
}
.vl225-5 {
    stroke: #14643C
}
.vl225-6 {
    stroke: #95B66B
}
.vl225-7 {
    stroke: #187036
}
.vl225-8 {
    stroke: #5FA046
}
.vl225-9 {
    stroke: #1C7E2D
}
.vl150-0 {
    stroke: #00AFAE
}
.vl150-1 {
    stroke: #000D58
}
.vl150-2 {
    stroke: #B8E7B2
}
.vl150-3 {
    stroke: #002169
}
.vl150-4 {
    stroke: #85D993
}
.vl150-5 {
    stroke: #003C7B
}
.vl150-6 {
    stroke: #59CB8B
}
.vl150-7 {
    stroke: #005C8C
}
.vl150-8 {
    stroke: #2CBD94
}
.vl150-9 {
    stroke: #00839E
}
.vl90-0 {
    stroke: #CC5500
}
.vl90-1 {
    stroke: #4A6600
}
.vl90-2 {
    stroke: #EFB2DD
}
.vl90-3 {
    stroke: #6E7A00
}
.vl90-4 {
    stroke: #E685AE
}
.vl90-5 {
    stroke: #8E8400
}
.vl90-6 {
    stroke: #DD596B
}
.vl90-7 {
    stroke: #A37B00
}
.vl90-8 {
    stroke: #D4432C
}
.vl90-9 {
    stroke: #B76B00
}
.vl63-0 {
    stroke: #A020EF
}
.vl63-1 {
    stroke: #7F0848
}
.vl63-2 {
    stroke: #B7DBFE
}
.vl63-3 {
    stroke: #960C6D
}
.vl63-4 {
    stroke: #8DA6FE
}
.vl63-5 {
    stroke: #AD109A
}
.vl63-6 {
    stroke: #6F66FB
}
.vl63-7 {
    stroke: #BC14C4
}
.vl63-8 {
    stroke: #7F42F6
}
.vl63-9 {
    stroke: #B11AD9
}
.vl45-0 {
    stroke: #FF8290
}
.vl45-1 {
    stroke: #7F6F41
}
.vl45-2 {
    stroke: #F6D9FF
}
.vl45-3 {
    stroke: #99784E
}
.vl45-4 {
    stroke: #FFC3FB
}
.vl45-5 {
    stroke: #B27D5B
}
.vl45-6 {
    stroke: #FFADE3
}
.vl45-7 {
    stroke: #CC7E68
}
.vl45-8 {
    stroke: #FF97BF
}
.vl45-9 {
    stroke: #E57B75
}
.vl20-0 {
    stroke: #AAAE27
}
.vl20-1 {
    stroke: #195B0F
}
.vl20-2 {
    stroke: #EABABE
}
.vl20-3 {
    stroke: #2D6C13
}
.vl20-4 {
    stroke: #DDA193
}
.vl20-5 {
    stroke: #477D17
}
.vl20-6 {
    stroke: #CE9A6E
}
.vl20-7 {
    stroke: #648D1C
}
.vl20-8 {
    stroke: #BEA04A
}
.vl20-9 {
    stroke: #869D22
}
