.sld-constant-color {stroke: black} /* Default color, used for unknown voltage levels */
.sld-vl0-0 {stroke: #808080}
.sld-vl0-1 {stroke: #404040}
.sld-vl0-2 {stroke: #D8D8D8}
.sld-vl0-3 {stroke: #4C4C4C}
.sld-vl0-4 {stroke: #C2C2C2}
.sld-vl0-5 {stroke: #595959}
.sld-vl0-6 {stroke: #ACACAC}
.sld-vl0-7 {stroke: #666666}
.sld-vl0-8 {stroke: #969696}
.sld-vl0-9 {stroke: #737373}
.sld-vl380-0 {stroke: #FF0000}
.sld-vl380-1 {stroke: #7F6C00}
.sld-vl380-2 {stroke: #F6B2FF}
.sld-vl380-3 {stroke: #996700}
.sld-vl380-4 {stroke: #FF85EB}
.sld-vl380-5 {stroke: #B25B00}
.sld-vl380-6 {stroke: #FF59B5}
.sld-vl380-7 {stroke: #CC4400}
.sld-vl380-8 {stroke: #FF2C67}
.sld-vl380-9 {stroke: #E52600}
.sld-vl225-0 {stroke: #218B21}
.sld-vl225-1 {stroke: #0D4940}
.sld-vl225-2 {stroke: #DFDAB9}
.sld-vl225-3 {stroke: #105640}
.sld-vl225-4 {stroke: #C2CB92}
.sld-vl225-5 {stroke: #14643C}
.sld-vl225-6 {stroke: #95B66B}
.sld-vl225-7 {stroke: #187036}
.sld-vl225-8 {stroke: #5FA046}
.sld-vl225-9 {stroke: #1C7E2D}
.sld-vl150-0 {stroke: #00AFAE}
.sld-vl150-1 {stroke: #000D58}
.sld-vl150-2 {stroke: #B8E7B2}
.sld-vl150-3 {stroke: #002169}
.sld-vl150-4 {stroke: #85D993}
.sld-vl150-5 {stroke: #003C7B}
.sld-vl150-6 {stroke: #59CB8B}
.sld-vl150-7 {stroke: #005C8C}
.sld-vl150-8 {stroke: #2CBD94}
.sld-vl150-9 {stroke: #00839E}
.sld-vl90-0 {stroke: #CC5500}
.sld-vl90-1 {stroke: #4A6600}
.sld-vl90-2 {stroke: #EFB2DD}
.sld-vl90-3 {stroke: #6E7A00}
.sld-vl90-4 {stroke: #E685AE}
.sld-vl90-5 {stroke: #8E8400}
.sld-vl90-6 {stroke: #DD596B}
.sld-vl90-7 {stroke: #A37B00}
.sld-vl90-8 {stroke: #D4432C}
.sld-vl90-9 {stroke: #B76B00}
.sld-vl63-0 {stroke: #A020EF}
.sld-vl63-1 {stroke: #7F0848}
.sld-vl63-2 {stroke: #B7DBFE}
.sld-vl63-3 {stroke: #960C6D}
.sld-vl63-4 {stroke: #8DA6FE}
.sld-vl63-5 {stroke: #AD109A}
.sld-vl63-6 {stroke: #6F66FB}
.sld-vl63-7 {stroke: #BC14C4}
.sld-vl63-8 {stroke: #7F42F6}
.sld-vl63-9 {stroke: #B11AD9}
.sld-vl45-0 {stroke: #FF8290}
.sld-vl45-1 {stroke: #7F6F41}
.sld-vl45-2 {stroke: #F6D9FF}
.sld-vl45-3 {stroke: #99784E}
.sld-vl45-4 {stroke: #FFC3FB}
.sld-vl45-5 {stroke: #B27D5B}
.sld-vl45-6 {stroke: #FFADE3}
.sld-vl45-7 {stroke: #CC7E68}
.sld-vl45-8 {stroke: #FF97BF}
.sld-vl45-9 {stroke: #E57B75}
.sld-vl20-0 {stroke: #AAAE27}
.sld-vl20-1 {stroke: #195B0F}
.sld-vl20-2 {stroke: #EABABE}
.sld-vl20-3 {stroke: #2D6C13}
.sld-vl20-4 {stroke: #DDA193}
.sld-vl20-5 {stroke: #477D17}
.sld-vl20-6 {stroke: #CE9A6E}
.sld-vl20-7 {stroke: #648D1C}
.sld-vl20-8 {stroke: #BEA04A}
.sld-vl20-9 {stroke: #869D22}
